@page "/counter"
@using Microsoft.AspNetCore.SignalR.Client
@using Signalr.Blazor.Data
@inject NavigationManager NavigationManager
@inject CounterService CounterService
@implements IDisposable

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int _currentCount = 0;
    private HubConnection _hubConnection;

    private async Task IncrementCount()
    {
        await this.CounterService.AddOne();
    }
    
    protected override async Task OnInitializedAsync()
    {
        this._hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:5001/counter")
            .WithAutomaticReconnect()
            .Build();
        this._hubConnection.On<int>("IncrementCount", ( message) =>
        {
            this._currentCount = message;
            StateHasChanged();
        });
        await this._hubConnection.StartAsync();

        this._currentCount = this.CounterService.GetCount();
    }
    
    public void Dispose()
    {
        if (this._hubConnection == null) return;
        this._hubConnection.StopAsync();
        this._hubConnection.DisposeAsync();
        this._hubConnection = null;
    }
}