@page "/counter"
@inherits Stl.Fusion.Blazor.LiveComponentBase<int>
@using Fusion.Shared
@using System.Threading
@using Stl.Fusion
@inject ISumService Client

<h1>Counter</h1>

<WhenException Title="Update error:" Exception="@State.Error"/>

<p>Current count: @State.LastValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Prova">Prova</button>

@code {

    private async Task Prova()
    {
        Console.WriteLine($"EHI CIAO!: {this.State.LastValue} {this.Client.GetType()}");
        this.State.Invalidate();
    }

    private async Task IncrementCount()
    {
        await this.Client.AddOne();
        State.CancelUpdateDelay();
    }

    // protected override void ConfigureState(LiveState<int>.Options options) => options.WithInstantUpdates();

    protected override Task<int> ComputeStateAsync(CancellationToken cancellationToken)
    {
        return this.Client.GetValue();
    } 
}